:root {
  --max-width: 512px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  user-select: none;
  text-decoration: none;
  overflow-x: hidden;

  /* white-space: nowrap; */
  /*   vertical-align: middle;
  line-height: normal;
  list-style: none;
  letter-spacing: inherit;
  word-break: break-word;
  overflow-x: hidden;
  touch-action: manipulation; */
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#141e30, #243b55);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  min-width: 350px;
}

#logo {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
}

span#logo-text {
  color: #F28C28;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  text-align: end;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  max-width: 400px;
  min-width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

header {
  position: absolute;
  width: 100%;
  padding: 8px 24px;
  border-bottom: 1px solid #03e8f42d;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #03e9f4;
  outline: none;
  background: transparent;
  text-align: center;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus~label {
  top: 40px;
  left: 0;
  color: #F28C28;
  font-size: 12px;
}

.login-box .user-box input:valid~label {
  top: 40px;
  left: 0;
  color: #66FF00;
  font-size: 12px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box form button {
  position: relative;
  display: inline-block;
  background: none;
  padding: 5px 10px;
  color: #03e9f4;
  font-weight: bolder;
  font-size: 12px;
  border: solid 1px #03e9f4;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: default;
  align-self: center;
  transition: background-color 0.3s, color 0.3s;
}

.login-box button:active {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.login-box button span {
  position: absolute;
  display: block;
}

.loading-anim span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.loading-anim span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.loading-anim span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.loading-anim span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.pass-label {
  color: #c1aba6;
}

.flash-message {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  min-width: 350px;
  padding: 8px 24px;
  color: #FA5F55;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-message img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.flash-message span {
  font-size: 0.8rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 24px;
  border-top: 1px solid #03e8f42d;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

footer img {
  width: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 0.8rem;
  }
}