:root {
  --max-width: 512px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  user-select: none;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;
  overflow-x: hidden;

  /* white-space: nowrap; */
  /*   
  vertical-align: middle;
  line-height: normal;
  list-style: none;
  letter-spacing: inherit;
  word-break: break-word;
  overflow-x: hidden;
  touch-action: manipulation; 
  */
}

html {
  height: 100%;
}

.hero {
  margin: 0 12px;
  margin-top: 12px;
}

body {
  background: linear-gradient(#141e30, #243b55);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

#logo {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
}

span#logo-text {
  color: #F28C28;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  text-align: end;
}


header {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #03e8f42d;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.loading-anim span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.loading-anim span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.loading-anim span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.loading-anim span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.footer-content {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 8px 24px;
  border-top: 1px solid #03e8f42d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    font-size: 0.8rem;
  }
}

#container {
  color: #243b55;
}

#status {
  display: flex;
  gap: 20px; /* Space between items, adjust as needed */
}

.pump-power-indicator {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.pump-power-indicator:first-child {
  align-items: flex-start;
}

.pump-power-indicator:last-child {
  align-items: flex-end;
}

#voltage {
  font-size: 1.2rem;
}

.pt {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
 
}

.pt1 {
  margin-left: 8px;
}

.pt2 {
  margin-right: 8px;
}

.pt>h2 {
  font-weight: 400;
  font-size: 0.8rem;
}

.pt>h3 {
  font-size: 0.8rem;
  color: #f28c28;
}

.min-volt {
  align-self: flex-end;
}

h2.min-volt {
  text-align: right;
}

canvas {
  max-width: 100%;
  height: 400px;
}

.bg-primary {
  width: 100%;
  max-width: 768px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 24px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

#pump-power-indicator {
  width: 20px;
  height: 20px; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid #33b864;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  color: #f28c28;
  display: inline-block;
  position: relative;
  width: 35px;
  height: 16px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ellipsis div {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}

.init-hide {
  font-size: 0.8rem;
}

#voltageChart {
  opacity: 1; 
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

#voltageChart.hidden {
  opacity: 0; 
  transform: scale(0.9); 
}

#voltageChart.visible {
  opacity: 1; 
  transform: scale(1); 
}

