:root {
  --max-width: 512px;
  --border-radius: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /*   margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  user-select: none;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;
  overflow-x: hidden;

   white-space: nowrap;

  vertical-align: middle;
  line-height: normal;
  list-style: none;
  letter-spacing: inherit;
  word-break: break-word;
  overflow-x: hidden;
  touch-action: manipulation;  */
}

html {
  height: 100%;
}

.hero {
  margin: 0 12px;
  margin-top: 12px;
}

body {
  background: linear-gradient(#141e30, #243b55);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

#logo {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  padding: 12px;
}

span#logo-text {
  color: #F28C28;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  text-align: end;
}


header {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #03e8f42d;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.loading-anim span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.loading-anim span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.loading-anim span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.loading-anim span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.footer-content {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 8px 24px;
  border-top: 1px solid #03e8f42d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    font-size: 0.8rem;
  }
}

#container {
  color: #243b55;
}

#status {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.pump-power-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 24px;
  margin-top: 24px;
}

#voltage {
  font-size: 1.2rem;
}

.pt {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;

}

.bg-primary {
  width: 100%;
  max-width: 768px;
  border-radius: var(--border-radius);
  margin: 0 auto;
  margin-bottom: 24px;
  background-color: #D3D3D3;
  background-size: 10px 10px;
}

#pump-power-indicator {
  width: 20px;
  height: 20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #33b864;
}




.lds-ellipsis {
  color: #f28c28;
  display: inline-block;
  position: relative;
  width: 35px;
  height: 16px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis div {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(12px, 0);
  }
}

.init-hide {
  font-size: 0.9rem;
}

.label-btm {
  color: #333;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#voltageChart {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-bottom: 32px;
}

#voltageChart.hidden {
  opacity: 0;
  transform: scale(0.9);
}

#voltageChart.visible {
  opacity: 1;
  transform: scale(1);
}

#run-rest-ing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  padding: 0 8px;

}

.run-rest {
  display: flex;
  gap: 12px;
  align-items: center;
}

#run-rest-ing.timer {
  box-sizing: border-box;
  margin-bottom: 8px;
}

.value-heading {
  font-size: 1.2rem;
}

.value-heading .volt-unit {
  font-style: italic;
  font-size: 1rem;
}

.volt-unit {
  font-style: italic;
  font-size: 0.8rem;
}

.pump-power-indicator-1 {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 40px;
  margin: 0 auto;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 24px;
}

.indicator:nth-child(1),
.indicator:nth-child(2) {
  flex: 1 1 50%;
}

.indicator:nth-child(3) {
  flex: 1 1 100%;
  background-color: #C0C0C0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.indicator:nth-child(2) {
  background-color: #D3D3D3;
  border-radius: 0 var(--border-radius) 0 0;
}

.indicator:nth-child(1) {
  background-color: #F28C28;
  border-radius: var(--border-radius) 0 0 0;
}


.res-server {
  margin-bottom: 4px;
  color: #333;
}

.styled-button {
  background-color: transparent; 
  color: #6c757d;
  border: 1px solid #6c757d; 
  border-radius: 4px; 
  padding: 6px 12px; 
  font-size: 14px; 
  cursor: pointer; 
  transition: color 0.3s, border-color 0.3s, transform 0.2s; 
  align-self: flex-end;
}

.styled-button:hover {
  color: #ffffff;
  border-color: #5a6268; 
  background-color: #5a6268; 
  transform: scale(1.05); 
}

.styled-button:active {
  color: #ffffff; 
  border-color: #343a40; 
  background-color: #343a40; 
  transform: scale(0.98);
}

.styled-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #6c757d80;
}

.l-white,
.r-white {
  color: #fff;
}
